#map {
    height: 400px;
    width: 800px;
}


#particles-js{
    height: 100vh;
    background-color: black;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}
